{% load static %}

<footer class="footer-section">
			<div class="container relative">

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="{% url 'base' %}" class="footer-logo">ideaprise<span>.</span></a></div>
						<p class="mb-4">Ideaprise Places merupakan salah satu program unggulan dari Arjocirc (Arjosari Circular, Inovasi untuk Revitalisasi Ekonomi Kreatif) sebuah inovasi dari Kelurahan Arjosari tentang Peningkatan Pemberdayaan Masyarakat darı Hulu ke Hilir dengan pendekatan kearifan lokal bersama dengan PKK Kelurahan Arjosari yang didukung oleh para stakeholder. Diantaranya Universitas Brawijaya, Perguruan Tinggi lainnya, Bank Indonesia dan perbankan lainnya, Perumda Tuğu Tirta, BPJS Ketenagakerjaan, Departemen Agama, Instansi Pemerintahan lainnya Dan Perusahaan Swasta</p>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><h5 style="font-weight: 700;">Company</h5></li>
									<br>
									<li><a style="color: #242424;"href="#">Offline Store</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><h5 style="font-weight: 700;">Marketplace</h5></li>
									<br>
									<li ><a style="color: #242424;" href="#">Shopee</a></li>
									<li ><a style="color: #242424;" href="#">Tokopedia</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><h5 style="font-weight: 700;">Explore</h5></li>
									<br>
									<li><a style="color: #242424;"href="{% url 'read_kategori' %}">Kategori</a></li>
									<li><a style="color: #242424;" href="{% url 'read_kegiatan' %}">Kegiatan</a></li>
									<li><a style="color: #242424;" href="{% url 'read_produk' %}">Produk</a></li>
									<li><a style="color: #242424;" href="{% url 'read_bundling' %}">Bundling</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><h5 style="font-weight: 700;">Connect with us</h5></li>
									<br>
									<li><a style="color: #242424;" href="#">Instagram</a></li>
									<li><a style="color: #242424;" href="#">Tiktok</a></li>
									<li><a style="color: #242424;" href="#">Whatsapp</a></li>
									<li><a style="color: #242424;" href="#">Email</a></li>
									
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</footer>